.footer_outer {
    width: 100%;
    padding: 85px 103px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
}

.footer_logo {
    height: 125px;
    width: 161px;
}

.f_head {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 19px;
    color: var(--primary-color);
    line-height: 27px;
}

.contact,
.more,
.social {
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.div_1,
.div_2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.c_p {
    width: 217px;
}

.tc {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 15px;
    color: #646874;
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 140px;
    margin-top: 15px;
}

.copyright {
    position: relative;
    left: -30px;
}

@media(max-width:992px) {
    .footer_outer {
        display: flex;
        flex-direction: column;
        padding: 50px 50px;
        /* align-items: stretch; */
    }

    .div_1,
    .div_2 {
        width: 90%;
        margin: 10px 0px;
    }
}

@media(max-width:576px) {

    .div_1,
    .div_2 {
        flex-direction: column;
        align-items: flex-start;
    }

    .social {
        text-align: center;
    }

    .sl {
        display: none;
    }

    .footer_logo {
        margin: 42px auto;
        height: 58px;
        width: 75px;
    }

    .c_p {
        width: 275px;
    }

    .contact,
    .more {
        margin: 20px 0px;
    }

    .social {
        margin: 0px auto;
        justify-content: flex-start;
        align-items: center;
        flex-flow: column-reverse;
    }

    .copyright {
        left: 0px;
        order: 1;
    }

    .icons {
        order: 2;
    }
}