@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Open+Sans&family=Poppins&family=Prompt&family=Source+Sans+Pro&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

:root {
  --primary-color: #0E2368;
}